data/dsg_with_mesh.json
data/dsg.json
realsense/250524-191332 2.zip
.gitignore
realsense/cloud_new.ply
.gitignore
realsense/nuri_new.ply
.gitignore
realsense/nuri_new2.ply
.gitignore
realsense/nurihalf.ply
realsense/250524-191332 2/250524-191332.ply
realsense/nuri.ply
realsense/250524-191332.zip
